In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML2023-1/at5 LinearRegression/winequality-white.csv', sep=";")

In [ ]:
df.head

In [14]:
df = df.apply(pd.to_numeric)

In [29]:
from sklearn.model_selection import train_test_split
X = df.drop('quality', axis = 1)
Y = df['quality']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20)
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [31]:
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
est = make_pipeline(StandardScaler(), SGDClassifier(loss="squared_error"))
est.fit(X_train,y_train)
est.predict(X_test)

array([7, 7, 6, 5, 7, 5, 6, 6, 7, 5, 7, 6, 5, 5, 6, 5, 5, 7, 5, 6, 6, 6,
       6, 6, 7, 7, 6, 5, 7, 5, 6, 5, 5, 5, 6, 6, 7, 5, 5, 6, 8, 6, 6, 5,
       5, 5, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5, 6, 7, 6, 7, 6, 5, 7, 6, 8, 7,
       5, 7, 6, 6, 6, 5, 5, 6, 5, 5, 6, 7, 5, 5, 7, 5, 7, 7, 7, 5, 6, 7,
       6, 5, 6, 5, 5, 7, 7, 5, 6, 6, 7, 5, 7, 6, 6, 6, 5, 7, 7, 5, 6, 8,
       7, 7, 4, 6, 6, 5, 3, 5, 6, 6, 5, 6, 6, 5, 5, 7, 5, 6, 6, 5, 6, 7,
       7, 7, 5, 7, 5, 6, 6, 5, 6, 5, 5, 5, 6, 6, 7, 7, 6, 5, 6, 7, 6, 5,
       5, 5, 5, 5, 5, 6, 5, 6, 5, 4, 6, 5, 6, 8, 6, 6, 6, 6, 5, 6, 7, 7,
       8, 6, 6, 6, 7, 7, 6, 7, 6, 6, 5, 8, 5, 5, 7, 5, 6, 7, 4, 6, 6, 6,
       4, 7, 5, 5, 5, 5, 5, 7, 7, 6, 6, 5, 5, 6, 7, 7, 5, 5, 8, 6, 8, 7,
       6, 6, 5, 5, 5, 7, 6, 5, 7, 5, 7, 6, 5, 7, 5, 5, 5, 5, 6, 6, 4, 5,
       5, 5, 7, 8, 6, 5, 5, 7, 5, 5, 6, 7, 7, 7, 6, 5, 6, 5, 5, 5, 7, 7,
       7, 5, 7, 6, 7, 6, 6, 6, 6, 7, 6, 6, 7, 7, 7, 8, 6, 6, 7, 5, 5, 6,
       5, 7, 7, 7, 8, 7, 6, 7, 7, 6, 7, 6, 5, 7, 7, 5, 6, 5, 7, 6, 6, 5,
       7, 7, 6, 5, 5, 7, 7, 7, 7, 5, 5, 5, 7, 7, 5, 5, 6, 5, 6, 6, 7, 6,
       5, 6, 5, 6, 7, 6, 5, 7, 5, 7, 6, 5, 5, 5, 6, 8, 6, 4, 6, 5, 5, 6,
       5, 5, 5, 7, 6, 7, 6, 7, 7, 6, 5, 5, 7, 5, 7, 5, 5, 5, 5, 6, 5, 8,
       6, 6, 6, 6, 6, 7, 7, 5, 7, 8, 7, 5, 6, 6, 5, 6, 5, 5, 8, 6, 6, 4,
       6, 6, 5, 6, 7, 5, 5, 6, 6, 8, 7, 7, 5, 5, 7, 5, 7, 6, 6, 7, 5, 5,
       7, 8, 5, 6, 7, 5, 6, 5, 7, 7, 6, 6, 5, 6, 5, 6, 5, 6, 7, 6, 5, 5,
       7, 5, 7, 7, 7, 7, 5, 8, 5, 5, 7, 6, 6, 5, 7, 7, 5, 6, 5, 6, 7, 5,
       6, 8, 7, 5, 7, 6, 6, 5, 5, 6, 6, 6, 5, 8, 8, 5, 6, 5, 5, 6, 7, 7,
       7, 6, 5, 5, 6, 7, 7, 6, 7, 6, 5, 5, 8, 6, 6, 5, 6, 7, 6, 6, 5, 5,
       6, 5, 6, 5, 7, 5, 5, 5, 4, 6, 5, 6, 6, 5, 7, 5, 8, 7, 6, 5, 6, 5,
       5, 7, 7, 8, 7, 5, 5, 5, 5, 6, 5, 7, 5, 7, 5, 5, 5, 5, 6, 6, 6, 6,
       7, 7, 5, 7, 6, 7, 7, 5, 7, 6, 6, 5, 5, 5, 6, 7, 5, 7, 5, 4, 5, 5,
       7, 7, 5, 5, 5, 5, 6, 5, 5, 6, 5, 7, 5, 6, 6, 5, 5, 5, 5, 8, 5, 7,
       5, 6, 5, 6, 7, 5, 7, 5, 7, 5, 7, 6, 6, 6, 6, 5, 5, 5, 5, 5, 7, 5,
       5, 7, 6, 6, 5, 5, 5, 6, 5, 5, 6, 6, 6, 7, 6, 7, 5, 5, 7, 6, 6, 6,
       6, 6, 6, 5, 7, 5, 6, 7, 6, 5, 7, 7, 5, 5, 6, 7, 5, 6, 6, 7, 5, 7,
       7, 5, 6, 5, 5, 5, 6, 5, 5, 6, 4, 6, 7, 5, 5, 7, 5, 6, 7, 7, 7, 6,
       5, 5, 6, 6, 6, 5, 7, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5, 6, 6, 5, 6, 6,
       5, 7, 7, 5, 7, 6, 7, 5, 5, 6, 5, 6, 6, 6, 5, 7, 5, 5, 6, 6, 5, 5,
       5, 5, 6, 7, 5, 5, 5, 5, 6, 5, 7, 6, 7, 5, 5, 5, 7, 7, 7, 5, 6, 6,
       7, 7, 7, 6, 7, 5, 6, 5, 4, 7, 5, 6, 5, 5, 5, 6, 5, 7, 5, 6, 7, 7,
       6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 5, 7, 6, 7, 5, 5, 7, 7, 6, 6, 6,
       7, 6, 7, 5, 5, 6, 6, 5, 6, 5, 7, 5, 8, 7, 5, 7, 7, 6, 5, 6, 5, 5,
       6, 6, 6, 5, 6, 6, 7, 6, 6, 6, 5, 5, 7, 5, 7, 5, 5, 6, 5, 5, 7, 5,
       6, 6, 7, 7, 7, 7, 8, 8, 5, 5, 7, 5, 6, 6, 5, 5, 5, 5, 5, 8, 6, 7,
       7, 7, 6, 6, 5, 6, 6, 5, 7, 5, 5, 6, 7, 7, 6, 5, 6, 5, 6, 5, 6, 5,
       6, 5, 6, 6, 5, 5, 7, 6, 5, 6, 5, 7, 7, 6, 6, 6, 8, 6, 5, 5, 7, 6,
       7, 5, 5, 8, 7, 6, 7, 5, 6, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 5, 6,
       7, 5, 7, 5, 6, 6, 5, 5, 7, 6, 5, 6, 5, 6, 5, 7, 6, 5, 6, 6, 6, 7,
       6, 6, 7, 7, 5, 6, 7, 7, 5, 6, 6, 5, 7, 6, 6, 6, 5, 5, 5, 5, 7, 5,
       5, 6, 5, 6, 7, 7, 6, 5, 6, 7, 7, 7])

# Nova seção